button {
  width: 100px;
  position: absolute;
  margin: auto;
  left: 47vw;
}

html {
  background-color: #00ffd8;
  background-image: url("../images/santa-reindeer.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 30vw;
}

div {
	position: absolute;
	margin: auto;
	left: 45vw;
}