button {
  width: 100px;
  position: absolute;
  margin: auto;
  left: 47vw;
}

html {
  background-color: #39cc3b;
  background-image: url("../images/santa-reindeer.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 23vw;
}

div {
	position: absolute;
	margin: auto;
	left: 45vw;
}

#sentMessage {
	color: red;
}

#numberOfPeopleButton {
	font-size: 100%;
}