<html>
  <head>
    
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/../static/js/code.js"></script>
    <link rel="stylesheet" href="/../static/css/styles.css">
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
       (function(){
          emailjs.init("user_9CkpNVV5BijcbyFfkM5nq");
       })();
    </script>
    <title>Secret Santa</title>
    <h1 style = "text-align:center">Secret Santa</h1>
  </head>
  <body>
    <button id = "numberOfPeopleButton" type = "button" style = "text-align:center">Press to enter the number of people that will be participating</button>
  </body>
</html>
